.layrow {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}
.laycolmid {
  display: flex !important;
  flex-direction: column;

  align-content: space-between;
}
.laycolLeft {
  background-color: #e2e2e2;
  display: flex !important;
  flex-direction: column;
  align-content: space-between;
}
.laycolRight {
  background-color: #e2e2e2;
  display: flex !important;
  flex-direction: column;
  align-content: space-between;
}
.mdiv {
  margin: 0px !important;
}
